.main-container {
  width: fit-content;
  min-width: 1124px;
  padding-top: 48px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "table brand"
    "table viewing-area";
}

.grid-item-table {
  grid-area: table;
  border-radius: 10px 10px 0 10px;
  overflow: hidden;
}

.grid-item-viewing-area {
  grid-area: viewing-area;
  background-color: #d8e1e5;
  width: 312px;
  height: 531px;
  border-radius: 0 0 10px 0;
}

.grid-item-brand {
  grid-area: brand;
  height: 86px;
  width: 312px;
  font-weight: 800;
  color: white;
  text-align: center;
}
