table {
  width: 100%;
  max-width: 1000px;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.mat-header-row {
  height: 51px !important;
}

.mat-header-cell {
  color: white;
  background-color: #4eb7be;
  font-size: 14px;
  border-bottom: none !important;
  padding-right: 24px !important;
}

.mat-column-phone {
  text-align: right !important;
}

.mat-column-columnSelect {
  padding-right: 0 !important;
}

.column-select {
  height: 51px;
  width: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  fa-icon {
    cursor: pointer;
  }
}

.mat-cell {
  background-color: white;
  padding-right: 24px !important;
  cursor: pointer;
}

.mat-sort-header-arrow {
  color: white;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 72px;
}

.selected-row {
  background-color: #cfd9d9;
}

// ----- FILTER -----
.filter-wrapper {
  height: 86px;
  background: linear-gradient(
    90deg,
    rgba(29, 106, 184, 1) 0%,
    rgba(24, 117, 188, 1) 100%
  );
}

.filter-field {
  margin-left: 24px;
}

.filter-button {
  margin: 0 48px;
}

.mat-focused .mat-form-field-label,
.mat-form-field-label,
.mat-input-element,
.mat-select-arrow,
.mat-select-value,
.mat-checkbox-label,
.mat-flat-button {
  font-family: "Open Sans", sans-serif !important;
  color: white !important;
}

.mat-form-field-underline,
.mat-form-field-ripple {
  background-color: white !important;
}

.mat-checkbox-frame {
  border-color: white !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-ripple-element,
.mat-flat-button {
  background-color: #4eb7be !important;
}

.mat-flat-button {
  border-radius: 20px !important;
  width: 125px !important;
}

.mat-button-ripple.mat-ripple {
  opacity: 0.3 !important;
}

.menu-item {
  .mat-checkbox-label {
    color: black !important;
  }
  .mat-checkbox-frame {
    border-color: #4eb7be !important;
  }
}

.mat-menu-panel {
  border-radius: 0 !important;
  width: 150px !important;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  cursor: default !important;
}
