<div class="filter-wrapper">
  <mat-form-field class="filter-field" appearance="standard">
    <mat-label>Name</mat-label>
    <input type="text" matInput [(ngModel)]="nameFilter" />
  </mat-form-field>
  <mat-form-field class="filter-field" appearance="standard">
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="cityFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let city of cityList" [value]="city">
        {{ city }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="filter-field" [(ngModel)]="activeFilter"
    >Show active <fa-icon [icon]="faEye"></fa-icon
  ></mat-checkbox>
  <span class="filter-button" (click)="applyFilter()"
    ><button mat-flat-button>FILTER</button></span
  >
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 204px">
      Name
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ 'selected-row': element.id === selectedContactId }"
      (click)="selectContact(element.id)"
    >
      {{ element.name }} {{ element.surname[0] }}.
    </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 204px">
      City
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ 'selected-row': element.id === selectedContactId }"
      (click)="selectContact(element.id)"
    >
      {{ element.city }}
    </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ 'selected-row': element.id === selectedContactId }"
      (click)="selectContact(element.id)"
    >
      <fa-icon *ngIf="element.isActive" [icon]="faEye"></fa-icon>
      <fa-icon *ngIf="!element.isActive" [icon]="faEyeSlash"></fa-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ 'selected-row': element.id === selectedContactId }"
      (click)="selectContact(element.id)"
    >
      {{ element.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{ 'selected-row': element.id === selectedContactId }"
      (click)="selectContact(element.id)"
    >
      {{ element.phone }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
